openapi: 3.0.1
info:
  title: Natera EMR Ordering and Results Integration Orders API
  description: Representational model of Natera's documented EMR integration surface. Natera does NOT publish a public developer REST API. Test ordering and results delivery are provisioned per health system over the Epic Aura hub and point-to-point HL7, with pre-built orders in the Epic Foundation System. This document models that bidirectional order/results workflow as an HTTP interface for cataloging purposes only - the paths, schemas, and base URL below are NOT official, published Natera endpoints and must not be treated as a live API contract. Integration is established with a Natera EHR specialist (see https://www.natera.com/emr/).
  termsOfService: https://www.natera.com/privacy-notices/
  contact:
    name: Natera EHR Integration
    url: https://www.natera.com/emr/
  version: '0.1'
servers:
- url: https://www.natera.com
  description: Placeholder host. Natera does not document a public REST base URL; integration endpoints are not publicly published.
tags:
- name: Orders
  description: Test order submission (modeled on the documented order workflow).
paths:
  /emr/orders:
    post:
      operationId: submitOrder
      tags:
      - Orders
      summary: Submit a Natera test order (representational).
      description: 'Models the bidirectional order leg documented for the Epic Aura hub: an order plus related documentation (progress notes, pathology reports, pedigree charts, personal/family cancer history) is transmitted to Natera. Not a published endpoint.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '202':
          description: Order accepted for processing (representational).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAck'
components:
  schemas:
    OrderAck:
      type: object
      properties:
        orderId:
          type: string
        status:
          type: string
          example: accepted
    Order:
      type: object
      properties:
        patientId:
          type: string
          description: Patient identifier within the ordering EHR.
        test:
          type: string
          description: Natera test ordered (e.g., Panorama, Horizon, Signatera, Prospera).
        orderingProvider:
          type: string
        documents:
          type: array
          description: Order-related documentation transmitted to Natera.
          items:
            type: string
